*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;
}

img{
    display: block;
}

.headers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 34px;
}

.hamburger-menu{
    display: none;
}

.shade a{
    color: rgba(25, 24, 37, 0.5);
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 34px;
}

li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}

li a:hover{
    color: rgb(148, 164, 2);
}

.Start-btn{
    background-color: rgba(219, 243, 1, 1);
    padding: 14px 16px;
    border: none;
    border-radius: 10px;
}

.sec-header{
    background-image: url("./images/BGmain.png");
    background-size: cover;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.main-head{
    padding-top: 150px;
    width: 730px;
    font-size: 58px;
    font-weight: 800;
}

.head-txt{
    font-size: 24px;
    font-weight: 400;
}

.btn-div{
    margin: 26px;
    display: flex;
    gap: 15px;
}

.Demo-btn{
    background-color: rgba(255, 255, 255, 1);
    padding: 14px 20px;
    border: 1px solid rgba(219, 243, 1, 1);
    border-radius: 10px;
}

.partner-sec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 150px 10px;
    background-color: rgba(255, 255, 255, 1);
}

.mid-txt{
    font-size: 24px;
    text-align: center;
    margin-bottom: 90px;
}

main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.product-sec{
    display: grid;
    place-items: center;
    border-bottom: 1px solid rgba(167, 161, 161, 0.48);
    border-right: 1px solid rgba(167, 161, 161, 0.48);
    gap: 20px;
    padding: 0px 44px 65px ;
    text-align: center;
}

.gap{
    border-bottom: none;
    padding-top: 54px;
}

/* .grid{
    margin-bottom: 26px;
} */

/* .sec-txt{
    width: 330px;
} */

.project-team-txt{
    text-align: center;
    font-size: 24px;
    margin: 90px auto;
    width: 900px;
}

.project-team-head{
    display: block;
    margin: 1px auto;
    position: relative;
}

.img-box{
    position: relative;
}

.project-team1{
    width: 200px;
    position: absolute;
    top: 194px;
    left: 35px;
}
.project-team2{
    width: 220px;
    position: absolute;
    top: 194px;
    left: 190px;
}
.project-team3{
    width: 300px;
    position: absolute;
    top: 130px;
    left: 362px;
    z-index: 2;
}
.project-team4{
    width: 235px;
    position: absolute;
    top: 169px;
    left: 599px;
}
.project-team5{
    width: 230px;
    position: absolute;
    top: 161px;
    left: 770px;
}

.review-text{
    position: relative;
    top: 400px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 173px;
}

.position-clear{
    position: relative;
    top: 350px;
}

.review-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.main-review{
    /* width: 346px; */
    font-size: 18px;
    font-weight: 500;
}

.review-img{
    display: flex;
    gap: 15px;
}
.review-img>img{
    width: 200px;
}


.box-view{
    padding-top: 20px;
}

.main-review{
    padding: 28px 0px 58px;
}

.name{
    display: flex;
    gap: 14px;
    font-weight: 600;
}

.box-span{
    font-weight: 500;
    color: rgba(100, 116, 139, 1);
}

aside{
    display: flex;
    justify-content: space-around;
    margin: 239px 0px 102px;
}

.package-contain{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.side-txt{
    width: 350px;
    font-size: 42px;
    font-weight: 600;
}

.side1{
    background-color: rgba(72, 90, 255, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    display: grid;
    gap: 20px;
    border-radius: 12px;
    padding: 31px 47px;
}

side-head1{
    font-weight: 700;
    font-size: 21px;
}

.next-pack1, .next-pack3{
    font-weight: 400;
    font-size: 16px;
    color: rgba(219, 234, 254, 1);
}

.next-pack2{
    font-weight: 700;
    font-size: 48px;
    border-bottom: 1px solid rgba(229, 234, 241, 1);
    padding-bottom: 19px;
}

.list-btn{
    background-color: rgba(255, 255, 255, 1);
    color: rgba(72, 90, 255, 1);
    padding: 16px 24px;
    border: none;
    border-radius: 8px;
    margin-top: 8px;
}


.package{
    display: grid;
    gap: 15px;
}


.side2{
    color: rgba(15, 23, 42, 1);
    text-align: center;
    display: grid;
    gap: 20px;
    border: 1px solid rgba(229, 234, 241, 1);
    border-radius: 12px;
    padding: 31px 47px;
}

.next-pack4{
    font-weight: 400;
    font-size: 16px;
    color: rgba(75, 82, 98, 1);
}

.list-btn1{
    background-color: rgba(72, 90, 255, 1);
    color: rgba(255, 255, 255, 1);
    padding: 16px 24px;
    border: none;
    border-radius: 8px;
    margin-top: 8px;
}

footer{
    background-color: rgba(17, 13, 51, 1);
}

.foot{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 237px;
}

.cab>li>a{
    color: rgba(244, 244, 245, 1);
}

.dab{
    color: rgba(203, 213, 225, 1);
    font-size: 14px;
    font-weight: 400;
    padding: 39px 0px 39px;
    text-align: center;
}

.hr{
    border: 1px solid rgba(70, 76, 86, 1);
    margin: 0px 75px;
}


@media screen and (min-width: 1400px) {
    .sec-header{
        background-image: url("./images/BGmain.png");
        background-size: cover;
        height: 130vh;
        gap: 50px;
    }

    .project-team1{
        width: 251px;
        position: absolute;
        top: 194px;
        left: 180px;
    }
    .project-team2{
        width: 282px;
        position: absolute;
        top: 194px;
        left: 380px;
    }
    .project-team3{
        width: 331px;
        position: absolute;
        top: 130px;
        left: 602px;
        z-index: 2;
    }
    .project-team4{
        width: 300px;
        position: absolute;
        top: 169px;
        left: 849px;
    }
    .project-team5{
        width: 293px;
        position: absolute;
        top: 161px;
        left: 1060px;
    }

    .package-contain{
        display: flex;
        justify-content: space-evenly;
        gap: 70px;
    }
}





@media screen and (max-width: 1000px) {
    .img-box, .project-team-head, .project-team-txt{
        display: none;
    }

    .review-text{
        position: relative;
        top: 100px;
    }
    
    .position-clear{
        position: relative;
        top: 50px;
    }

    .review-box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 100px;
    }
    
    
    .review-img>img{
        width: 200px;
    }

    aside{
        flex-direction: column;
        margin-top: 100px;
        gap: 100px;
    }

    .package-contain{
        flex-direction: row;
        justify-content: space-around;
        gap: 0px;
    }

    .side-txt{
        text-align: center;
        width: 100%;
    }

}



@media screen and (max-width: 450px) {


    .headers{
        /* justify-content: space-between; */
        align-items: center;
        position: relative;
    }
    
    .logo-icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: white;
    }

    .hamburger-menu{
        display: block;
    }

    .Started{
        display: none;
    }
    
    .navigation {
        display: none;
        position: absolute;
        top: 80px;
        left: 20px;
        background-color: rgba(219, 243, 1, 1);
    }
    
    .show {
        display: flex;
        text-align: left;
    }
    
    .nav-links-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        padding: 30px;
        gap: 70px;
    }
    
    .nav-link {
        list-style: none;
    }
    
    .nav-link a {
        color: black;
        text-decoration: none;
        padding: 0px 50px;
        font-size: 20px;
        font-weight: 700;
    }
    
    .shade a{
        color: black;
    }
    
    .nav-link a:hover {
        color: black;
    }
    
    

    .sec-header{
        background-image: url("./images/all\ shapes.png");
        background-size: 100%;
        background-repeat: no-repeat;
        gap: 30px;
    }
    
    .main-head{
        padding-top: 30px;
        width: 350px;
        font-size: 32px;
        font-weight: 700;
    }
    
    .head-txt{
        font-size: 20px;
        font-weight: 400;
    }
    
    

    .partner-sec{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 40px 20px;
    }

    .partner-sec>li>a>img{
        width: 100px;
    }

    main{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

    .mid-txt{
        padding-top: 35px;
    }

    .ga{
        padding-top: 54px;
    }

    .pa{
        border-bottom: 1px solid rgba(167, 161, 161, 0.48);
    }
    
    
    .project-team-txt, .img-box, .project-team-head{
        display: none;
    }


    .review-text{
        position: relative;
        top: 0px;
        padding: 105px 20px 95px;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 0px;
    }
    
    .position-clear{
        position: relative;
        top: 0px;
    }

    .review-img{
        flex-direction: column;
    }

    .review-box{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
    }

    .main-review{
        text-align: center;
    }
    


    .box-view{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .name{
        align-items: center;
    }
    .review-img>img{
        width: 100%;
    }
    
    .side-txt{
        padding: 15px;
    }

    .main-review{
        padding: 28px 0px 8px;
    }

    aside{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin: 100px 0px 102px;
    }

    .package-contain{
        flex-direction: column;
        gap: 40px;
    }
    
    .side-txt{
        width: 100%;
        font-size: 32px;
        font-weight: 600;
        text-align: center;
        text-transform: capitalize;
    }
    
    .side1{
        background-color: rgba(72, 90, 255, 1);
        color: rgba(255, 255, 255, 1);
        text-align: center;
        display: grid;
        gap: 20px;
        border-radius: 12px;
        padding: 31px 47px;
    }
    
    side-head1{
        font-weight: 700;
        font-size: 21px;
    }
    
    .next-pack1, .next-pack3{
        font-weight: 400;
        font-size: 16px;
        color: rgba(219, 234, 254, 1);
    }
    
    .next-pack2{
        font-weight: 700;
        font-size: 48px;
        border-bottom: 1px solid rgba(229, 234, 241, 1);
        padding-bottom: 19px;
    }
    
    .list-btn{
        background-color: rgba(255, 255, 255, 1);
        color: rgba(72, 90, 255, 1);
        padding: 16px 24px;
        border: none;
        border-radius: 8px;
        margin-top: 8px;
    }
    
    
    .package{
        display: grid;
        gap: 15px;
    }
    
    .side2{
        color: rgba(15, 23, 42, 1);
        text-align: center;
        display: grid;
        gap: 20px;
        border: 3px solid rgba(229, 234, 241, 1);
        border-radius: 12px;
        padding: 31px 47px;
    }
    
    .next-pack4{
        font-weight: 400;
        font-size: 16px;
        color: rgba(75, 82, 98, 1);
    }
    
    .list-btn1{
        background-color: rgba(72, 90, 255, 1);
        color: rgba(255, 255, 255, 1);
        padding: 16px 24px;
        border: none;
        border-radius: 8px;
        margin-top: 8px;
    }
    
    .foot{
        flex-direction: column;
        }
}

